.funny-glasses {
    position: relative;
    top: -6.8em;
    bottom: 0;
    left: 13.25555em;
    right: 0;
}

.bandana {
    position: absolute;
    top: 11.2em;
    left: 6.8em;
}

.pawprint {
    position: fixed;
    top: 3em;
    left: 4em;
}

.luna {
    position: absolute
}

.top-hat {
    z-index: 1;
}